name: Wine DLL artifacts

on:
  workflow_dispatch: # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-24.04-arm # Use GitHub's native ARM64 runners
    steps:
    - uses: actions/checkout@v4
      with:
        repository: FEX-Emu/FEX # Build from the source
        submodules: recursive
        fetch-depth: 0

    - name: Install Build Deps
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake ninja-build clang llvm lld libssl-dev mingw-w64

    - name: Build WOW64 DLL
      run: |
        mkdir build-wow && cd build-wow
        cmake .. -GNinja -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_TOOLCHAIN_FILE=Data/CMake/toolchain_mingw.cmake \
          -DMINGW_TRIPLE=aarch64-w64-mingw32 \
          -DENABLE_LTO=False
        ninja

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: fex-wine-dlls
        path: "**/wowbox64.dll"
