name: Build FEX-Emu

on:
  workflow_dispatch:

jobs:
  build-fex:
    runs-on: ubuntu-latest
    env:
      SDK_VERSION: 31

    steps:
      - name: Checkout FEX-Emu
        uses: actions/checkout@v4
        with:
          repository: FEX-Emu/FEX
          fetch-depth: 1
          submodules: true

      - name: Install System Dependencies
        run: |
          sudo apt-get update -yq
          sudo apt-get install -yq --no-install-recommends \
            git curl unzip zip python3 python3-venv ninja-build \
            patchelf gh glslang-tools bison flex cmake nasm

      - name: Setup Android NDK
        run: |
          mkdir -p $GITHUB_WORKSPACE/ndk
          curl -L https://dl.google.com/android/repository/android-ndk-r26b-linux.zip -o ndk.zip
          unzip -q ndk.zip -d $GITHUB_WORKSPACE/ndk
          # This line "hunts" for the folder name so the path is never wrong
          REAL_NDK_PATH=$(find $GITHUB_WORKSPACE/ndk -maxdepth 1 -type d -name "android-ndk-*" | head -n 1)
          echo "ANDROID_NDK_HOME=$REAL_NDK_PATH" >> $GITHUB_ENV

      - name: Configure and Build FEX
        run: |
          mkdir -p build
          cmake -S . -B build \
            -G Ninja \
            -DCMAKE_MAKE_PROGRAM=$(which ninja) \
            -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=arm64-v8a \
            -DANDROID_PLATFORM=android-$SDK_VERSION \
            -DCMAKE_BUILD_TYPE=Release \
            -DBUILD_TESTS=False \
            -DENABLE_LTO=False \
            -DENABLE_ASSERTIONS=False
          
          ninja -C build

      - name: Package and Upload
        run: |
          mkdir -p output
          find build/Source/Tools/ -name "FEXLoader" -exec cp {} output/ \;
          zip -j fex-emu-android.zip output/*

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fex-emu-binaries
          path: fex-emu-android.zip
